NEXT_PUBLIC_FIREBASE_API_KEY=
GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_MESSAGING_SENDER_ID=
NEXT_PUBLIC_APP_ID=

NEXT_PUBLIC_TAPPAY_DOMAIN=
NEXT_PUBLIC_TAPPAY_APP_ID=
NEXT_PUBLIC_TAPPAY_APP_KEY=
NEXT_PUBLIC_TAPPAY_PROD=
NEXT_PUBLIC_TAPPAY_PARTNER_KEY=
NEXT_PUBLIC_TAPPAY_MERCHANT_NAME=
NEXT_PUBLIC_TAPPAY_FRONTEND_DOMAIN=

PARTNER_KEY=
NEXT_PUBLIC_MERCHANT_ID=
NEXT_PUBLIC_MERCHANT_NAME=
OPEN_IOS_APP=
ANDROID_FIREBASE_CREDENTIAL=
FIREBASE_CREDENTIAL=
IOS_FIREBASE_CREDENTIAL=
MONGO_DB_PASSWORD=
NEXT_PUBLIC_FIREBASE_VAPID_KEY=

DB_CONNECTION=
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_URL=
POSTGRES_URL_NO_SSL=
POSTGRES_URL_NON_POOLING=
POSTGRES_PRISMA_URL=

OPENAI_API_KEY=